.dpsy-div {
  position:relative;
  width: 879px;
  height: 619px;
  background-image: url(dpsy.jpg);
}

.dpbm-div {
  position:relative;
  width: 879px;
  height: 2150px;
  background-image: url(dpbm2.jpg);
}

.dpyh-div {
  position:relative;
  width: 879px;
  height: 619px;
  background-image: url(dpyh.jpg);
}

.div_abs {
  position:absolute;
  width: 879px;
  height: 619px;
}

.bmdiv_abs {
  position:absolute;
  width: 879px;
  height: 2150px;
}

.cs_CreDtTm {
  position:absolute;
  left: 60px;
  top: 14px ;
  width: 120px;
  height: 22px;
}

.cs_input{
  padding-left: 3px;
  padding-right: 2px !important;
  height: 22px;
}

.cs_input_ib{
  padding-left: 3px;
  padding-right: 2px;
  width: 250px !important;
  height: 22px;
}

.cs_input_calendar{
  padding-left: 3px;
  width: 96px;
  height: 22px;
}

.cs_inputgroup{
  width: 325px;
  height: 22px;
}

.cs_input_ibr{
  padding-left: 5px;
  width: 270px !important;
  height: 22px;
}

.cs_inputgroup_r{
  width: 345px;
  height: 22px;
}

.cs_inputButton{
  left: -20px ;
  width: 30px;
  height: 22px;
  padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    font-size: 13px;
}

.cs_IdNb {
  position:absolute;
  left: 600px;
  top: 202px ;
  width: 250px;
  height: 22px;
}

.cs_DrwrNm {
  position:absolute;
  left: 105px;
  top: 235px ;
  width: 330px;
  height: 22px;
}

.cs_PyeeNm {
  position:absolute;
  left: 525px;
  top: 235px ;
  width: 355px;
  height: 22px;
}

.cs_PyeeAcct {
  position:absolute;
  left: 525px;
  top: 262px ;
  width: 355px;
  height: 22px;
}

.cs_IsseDt {
  position:absolute;
  left: 70px;
  top: 175px ;
  width: 330px;
  height: 22px;
}

.cs_DueDt {
  position:absolute;
  left: 70px;
  top: 205px ;
  width: 330px;
  height: 22px;
}

.cs_DrwrAcct {
  position:absolute;
  left: 105px;
  top: 260px ;
  width: 330px;
  height: 22px;
}

.cs_DrwrAcctSvcr {
  position:absolute;
  left: 105px;
  top: 288px ;
  width: 330px;
  height: 22px;
}

.cs_PyeeAcctSvcr {
  position:absolute;
  left: 525px;
  top: 288px ;
  width: 350px;
  height: 22px;
}

.cs_DrwGuarnteeNm {
  position:absolute;
  left: 177px;
  top: 315px ;
  width: 265px;
  height: 22px;
}

.cs_DrwGuarnteeAdr {
  position:absolute;
  left: 487px;
  top: 315px ;
  width: 240px;
  height: 22px;
}

.cs_DrwGuarnteeDt {
  position:absolute;
  left: 758px;
  top: 315px ;
  width: 100px;
  height: 22px;
}

.cs_cnAmt {
  position:absolute;
  top: 358px ;
  left: 185px;
  font-size: 15px;
}

.cs_Amt {
  position:absolute;
  top: 372px ;
  width: 20px;
  height: 22px;
  text-align: center;
  vertical-align: center;
}

.cs_Amt12 {
  left:562px;
}

.cs_Amt11 {
  left:589px;
}

.cs_Amt10 {
  left:615px;
}

.cs_Amt9 {
  left:641px;
}

.cs_Amt8 {
  left:666px;
}

.cs_Amt7 {
  left:692px;
}

.cs_Amt6 {
  left:718px;
}

.cs_Amt5 {
  left:743px;
}

.cs_Amt4 {
  left:770px;
}

.cs_Amt3 {
  left:796px;
}

.cs_Amt2 {
  left:822px;
}

.cs_Amt1 {
  left:848px;
}

.cs_AccptrNm {
  position:absolute;
  left: 190px;
  top: 399px ;
  width: 247px;
  height: 22px;
}

.cs_AccptrAcctSvcr {
  position:absolute;
  left: 524px;
  top: 399px ;
  width: 350px;
  height: 22px;
}

.cs_AccptrAcct {
  position:absolute;
  left: 190px;
  top: 426px ;
  width: 247px;
  height: 22px;
}

.cs_AccptrAcctSvnm {
  position:absolute;
  left: 524px;
  top: 426px ;
  width: 360px;
  height: 22px;
}

.cs_TxlCtrctNb {
  position:absolute;
  left: 102px;
  top: 454px ;
  width: 337px;
  height: 22px;
}

.cs_AccptDt {
  position:absolute;
  left: 758px;
  top: 507px ;
  width: 100px;
  height: 22px;
}

.cs_AccptGuarnteeNm {
  position:absolute;
  left: 102px;
  top: 535px ;
  width: 337px;
  height: 22px;
}

.cs_AccptGuarnteeAdr {
  position:absolute;
  left: 490px;
  top: 535px ;
  width: 235px;
  height: 22px;
}

.cs_AccptGuarnteeDt {
  position:absolute;
  left: 758px;
  top: 535px ;
  width: 100px;
  height: 22px;
}

.cs_DrwrCdtRatgAgcy {
  position:absolute;
  left: 190px;
  top: 562px ;
  width: 365px;
  height: 22px;
}

.cs_DrwrCdtRatgDueDt {
  position:absolute;
  left: 765px;
  top: 562px ;
  width: 100px;
  height: 22px;
}

.cs_AccptrCdtRatgAgcy {
  position:absolute;
  left: 190px;
  top: 589px ;
  width: 365px;
  height: 22px;
}

.cs_AccptrCdtRatgDueDt {
  position:absolute;
  left: 765px;
  top: 589px ;
  width: 100px;
  height: 22px;
}

.cs_input_calendar_dq{
  padding-left: 3px;
  width: 90px;
  height: 22px;
}

.cs_IsseSts {
  position:absolute;
  left: 600px;
  top: 170px ;
  width: 250px;
}

.cs_BanEndrsmtMk {
  position:absolute;
  left: 120px;
  top: 490px ;
  width: 250px;
}

.cs_DrwrCdtRatgs {
  position:absolute;
  left: 600px;
  top: 560px ;
  width: 122px;
}

.cs_AccptrCdtRatgs {
  position:absolute;
  left: 600px;
  top: 587px ;
  width: 122px;
}
.ecds-rc-select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.ecds-rc-select ul,
.ecds-rc-select li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ecds-rc-select > ul > li > a {
  padding: 0;
  background-color: #fff;
}
.ecds-rc-select-arrow {
  height: 22px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.ecds-rc-select-arrow b {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-color: rgba(31, 56, 88, 0.4) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.ecds-rc-select-selection {
  outline: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(31, 56, 88, 0.3);
  border-radius: 3px;
}
.ecds-rc-select-selection:hover {
  border-color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-selection:hover .ecds-rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.6) transparent transparent transparent;
}
.ecds-rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-selection__placeholder {
  position: absolute;
  top: 0;
  color: rgba(31, 56, 88, 0.4);
  line-height: 22px;
}
.ecds-rc-select-focused .ecds-rc-select-selection {
  border-color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-enabled .ecds-rc-select-selection:hover {
  border-color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-enabled .ecds-rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-selection-selected-value {
  position: absolute;
  left: 10px;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 30px;
}
.ecds-rc-select-selection--single {
  height: 22px;
  cursor: pointer;
  position: relative;
}
.ecds-rc-select-selection--single .ecds-rc-select-selection__placeholder {
  position: absolute;
  top: 0;
  color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-selection--single .ecds-rc-select-selection__rendered {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 100%;
  text-overflow: ellipsis;
  padding-left: 12px;
  margin-right: 20px;
  line-height: 22px;
}
.ecds-rc-select-selection--single .ecds-rc-select-selection__clear {
  font-weight: normal;
  position: absolute;
  color: rgba(31, 56, 88, 0.3);
  top: 1px;
  right: 20px;
  font-size: 14px;
}
.ecds-rc-select-selection--single .ecds-rc-select-selection__clear:after {
  content: '×';
}
.ecds-rc-select-selection--single .ecds-rc-select-selection__clear:hover {
  color: rgba(31, 56, 88, 0.4);
}
.ecds-rc-select-search__field__wrap {
  display: inline-block;
  position: relative;
}
.ecds-rc-select-search__field__placeholder {
  position: absolute;
  top: 0;
  left: 3px;
  color: #aaa;
}
.ecds-rc-select-search--inline {
  width: 100%;
  position: relative;
}
.ecds-rc-select-search--inline .ecds-rc-select-search__field__wrap {
  width: 100%;
}
.ecds-rc-select-search--inline .ecds-rc-select-search__field {
  border: none;
  font-size: 100%;
  line-height: 16px;
  background: transparent;
  outline: 0;
  width: 100%;
}
.ecds-rc-select-search--inline .ecds-rc-select-search__field::-ms-clear {
  display: none;
}
.ecds-rc-select-search--inline .ecds-rc-select-search__field__mirror {
  position: absolute;
  top: -999px;
  left: 0;
  white-space: pre;
}
.ecds-rc-select-search--inline .ecds-rc-select-selection-selected-value {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  width: 100%;
}
.ecds-rc-select-search--inline > i {
  float: right;
}
.ecds-rc-select-enabled.ecds-rc-select-selection--multiple {
  cursor: text;
}
.ecds-rc-select-selection--multiple {
  min-height: 22px;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-search--inline {
  float: left;
  width: auto;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-search--inline .ecds-rc-select-search__field {
  width: 0.75em;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-search--inline .ecds-rc-select-search__field__wrap {
  width: auto;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-search__field__placeholder {
  top: 9px;
  left: 8px;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-bottom: 2px;
}
.ecds-rc-select-selection--multiple .ecds-rc-select-selection__rendered > ul > li {
  margin-top: 4px;
  height: 22px;
  line-height: 22px;
}
.ecds-rc-select-enabled .ecds-rc-select-selection__choice {
  cursor: default;
}
.ecds-rc-select-enabled .ecds-rc-select-selection__choice .ecds-rc-select-selection__choice__remove {
  opacity: 1;
  -ms-transform: scale(0.8);
      transform: scale(0.8);
}
.ecds-rc-select-enabled .ecds-rc-select-selection__choice .ecds-rc-select-selection__choice__content {
  margin-left: -8px;
  margin-right: 8px;
}
.ecds-rc-select .ecds-rc-select-selection__choice {
  background-color: rgba(31, 56, 88, 0.1);
  border-radius: 4px;
  float: left;
  padding: 0 15px;
  margin-right: 4px;
  position: relative;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045), width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ecds-rc-select .ecds-rc-select-selection__choice__content {
  margin-left: 0;
  margin-right: 0;
  transition: margin 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-enter,
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-appear,
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
  opacity: 0;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-leave {
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-enter.ecds-rc-select-selection__choice-zoom-enter-active,
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-appear.ecds-rc-select-selection__choice-zoom-appear-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomIn;
}
.ecds-rc-select .ecds-rc-select-selection__choice-zoom-leave.ecds-rc-select-selection__choice-zoom-leave-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomOut;
}
@keyframes rcSelectChoiceZoomIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rcSelectChoiceZoomOut {
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.ecds-rc-select .ecds-rc-select-selection__choice__remove {
  color: #919191;
  cursor: pointer;
  font-weight: bold;
  padding: 0 4px 0 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  position: absolute;
  opacity: 0;
  -ms-transform: scale(0);
      transform: scale(0);
  top: 0;
  right: 2px;
  transition: opacity .3s, transform .3s;
}
.ecds-rc-select .ecds-rc-select-selection__choice__remove:before {
  content: "x";
}
.ecds-rc-select .ecds-rc-select-selection__choice__remove:hover {
  color: #333;
}
.ecds-rc-select-disabled {
  color: rgba(31, 56, 88, 0.3);
  cursor: not-allowed;
}
.ecds-rc-select-disabled .ecds-rc-select-selection {
  border-color: rgba(31, 56, 88, 0.2);
  background-color: rgba(31, 56, 88, 0.04);
}
.ecds-rc-select-disabled .ecds-rc-select-selection:hover,
.ecds-rc-select-disabled .ecds-rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.2);
}
.ecds-rc-select-disabled .ecds-rc-select-selection__choice {
  background-color: rgba(31, 56, 88, 0.06);
}
.ecds-rc-select-disabled .ecds-rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.2) transparent transparent transparent;
}
.ecds-rc-select-disabled .ecds-rc-select-selection--single,
.ecds-rc-select-disabled .ecds-rc-select-selection__choice__remove {
  cursor: not-allowed;
  color: rgba(31, 56, 88, 0.3);
}
.ecds-rc-select-disabled .ecds-rc-select-selection--single:hover,
.ecds-rc-select-disabled .ecds-rc-select-selection__choice__remove:hover,
.ecds-rc-select-disabled .ecds-rc-select-selection--single:active,
.ecds-rc-select-disabled .ecds-rc-select-selection__choice__remove:active {
  border-color: rgba(31, 56, 88, 0.2);
}
.ecds-rc-select-dropdown {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 4px 0 rgba(31, 56, 88, 0.15);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 1070;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
}
.ecds-rc-select-dropdown-hidden {
  display: none;
}
.ecds-rc-select-dropdown-menu {
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
}
.ecds-rc-select-dropdown-menu > li {
  margin: 0;
  padding: 0;
}
.ecds-rc-select-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.ecds-rc-select-dropdown-menu-item-group-list > li.ecds-rc-select-menu-item {
  padding-left: 20px;
}
.ecds-rc-select-dropdown-menu-item-group-title {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  padding: 8px 10px;
  border-bottom: 1px solid #dedede;
}
.ecds-rc-select-dropdown-menu li.ecds-rc-select-dropdown-menu-item {
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 0;
  position: relative;
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ecds-rc-select-dropdown-menu li.ecds-rc-select-dropdown-menu-item-active {
  background-color: rgba(31, 56, 88, 0.04);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.ecds-rc-select-dropdown-menu li.ecds-rc-select-dropdown-menu-item-disabled {
  color: rgba(31, 56, 88, 0.3);
  cursor: not-allowed;
}
.ecds-rc-select-dropdown-menu li.ecds-rc-select-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}
.ecds-rc-select-dropdown-menu li.ecds-rc-select-dropdown-menu-item-selected {
  color: #000000;
  background: rgba(31, 56, 88, 0.04);
  font-weight: bold;
}
.ecds-rc-select-dropdown-search {
  display: block;
  padding: 4px;
}
.ecds-rc-select-dropdown-search .ecds-rc-select-search__field__wrap {
  width: 100%;
}
.ecds-rc-select-dropdown-search .ecds-rc-select-search__field__placeholder {
  top: 4px;
}
.ecds-rc-select-dropdown-search .ecds-rc-select-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}
.ecds-rc-select-dropdown-search.ecds-rc-select-search--hide {
  display: none;
}
.ecds-rc-select-open .ecds-rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.6) transparent transparent transparent;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.ecds-rc-select-selected-has-icon li.ecds-rc-select-dropdown-menu-item-selected {
  padding-right: 20px;
}
.ecds-rc-select-selected-has-icon li.ecds-rc-select-dropdown-menu-item-selected:before {
  content: "<";
  display: block;
  position: absolute;
  color: #f37327;
  right: 10px;
  top: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 22px;
}
.ecds-rc-select-inline .ecds-rc-select-selection {
  background: transparent;
  border-color: transparent;
}
.ecds-rc-select-inline .ecds-rc-select-selection:hover {
  border-color: transparent;
}
.ecds-rc-select-inline .ecds-rc-select-selection__rendered {
  display: inline-block;
  padding: 0 4px;
}
.ecds-rc-select-inline .ecds-rc-select-selection__placeholder {
  position: static;
}
.ecds-rc-select-inline .ecds-rc-select-selection-selected-value {
  padding-right: 0;
  position: static;
}