.rc-select {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
}
.rc-select ul,
.rc-select li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rc-select > ul > li > a {
  padding: 0;
  background-color: #fff;
}
.rc-select-arrow {
  height: 32px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.rc-select-arrow b {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-color: rgba(31, 56, 88, 0.4) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-select-selection {
  outline: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  background-color: #fff;
  border: 1px solid rgba(31, 56, 88, 0.3);
  border-radius: 3px;
}
.rc-select-selection:hover {
  border-color: rgba(31, 56, 88, 0.4);
}
.rc-select-selection:hover .rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.6) transparent transparent transparent;
}
.rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.4);
}
.rc-select-selection__placeholder {
  position: absolute;
  top: 0;
  color: rgba(31, 56, 88, 0.4);
  line-height: 34px;
}
.rc-select-focused .rc-select-selection {
  border-color: rgba(31, 56, 88, 0.4);
}
.rc-select-enabled .rc-select-selection:hover {
  border-color: rgba(31, 56, 88, 0.4);
}
.rc-select-enabled .rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.4);
}
.rc-select-selection-selected-value {
  position: absolute;
  left: 10px;
  top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 30px;
}
.rc-select-selection--single {
  height: 36px;
  cursor: pointer;
  position: relative;
}
.rc-select-selection--single .rc-select-selection__placeholder {
  position: absolute;
  top: 0;
  color: rgba(31, 56, 88, 0.4);
}
.rc-select-selection--single .rc-select-selection__rendered {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 100%;
  text-overflow: ellipsis;
  padding-left: 12px;
  margin-right: 20px;
  line-height: 34px;
}
.rc-select-selection--single .rc-select-selection__clear {
  font-weight: normal;
  position: absolute;
  color: rgba(31, 56, 88, 0.3);
  top: 7px;
  right: 20px;
  font-size: 14px;
}
.rc-select-selection--single .rc-select-selection__clear:after {
  content: '×';
}
.rc-select-selection--single .rc-select-selection__clear:hover {
  color: rgba(31, 56, 88, 0.4);
}
.rc-select-search__field__wrap {
  display: inline-block;
  position: relative;
}
.rc-select-search__field__placeholder {
  position: absolute;
  top: 0;
  left: 3px;
  color: #aaa;
}
.rc-select-search--inline {
  width: 100%;
  position: relative;
}
.rc-select-search--inline .rc-select-search__field__wrap {
  width: 100%;
}
.rc-select-search--inline .rc-select-search__field {
  border: none;
  font-size: 100%;
  line-height: 16px;
  background: transparent;
  outline: 0;
  width: 100%;
}
.rc-select-search--inline .rc-select-search__field::-ms-clear {
  display: none;
}
.rc-select-search--inline .rc-select-search__field__mirror {
  position: absolute;
  top: -999px;
  left: 0;
  white-space: pre;
}
.rc-select-search--inline .rc-select-selection-selected-value {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  width: 100%;
}
.rc-select-search--inline > i {
  float: right;
}
.rc-select-enabled.rc-select-selection--multiple {
  cursor: text;
}
.rc-select-selection--multiple {
  min-height: 36px;
}
.rc-select-selection--multiple .rc-select-search--inline {
  float: left;
  width: auto;
}
.rc-select-selection--multiple .rc-select-search--inline .rc-select-search__field {
  width: 0.75em;
}
.rc-select-selection--multiple .rc-select-search--inline .rc-select-search__field__wrap {
  width: auto;
}
.rc-select-selection--multiple .rc-select-search__field__placeholder {
  top: 9px;
  left: 8px;
}
.rc-select-selection--multiple .rc-select-selection__rendered {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-bottom: 2px;
}
.rc-select-selection--multiple .rc-select-selection__rendered > ul > li {
  margin-top: 4px;
  height: 26px;
  line-height: 26px;
}
.rc-select-enabled .rc-select-selection__choice {
  cursor: default;
}
.rc-select-enabled .rc-select-selection__choice .rc-select-selection__choice__remove {
  opacity: 1;
  -ms-transform: scale(0.8);
      transform: scale(0.8);
}
.rc-select-enabled .rc-select-selection__choice .rc-select-selection__choice__content {
  margin-left: -8px;
  margin-right: 8px;
}
.rc-select .rc-select-selection__choice {
  background-color: rgba(31, 56, 88, 0.1);
  border-radius: 4px;
  float: left;
  padding: 0 15px;
  margin-right: 4px;
  position: relative;
  overflow: hidden;
  transition: padding 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045), width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.rc-select .rc-select-selection__choice__content {
  margin-left: 0;
  margin-right: 0;
  transition: margin 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.rc-select .rc-select-selection__choice-zoom-enter,
.rc-select .rc-select-selection__choice-zoom-appear,
.rc-select .rc-select-selection__choice-zoom-leave {
  animation-duration: .3s;
  animation-fill-mode: both;
  -ms-transform-origin: 0 0;
      transform-origin: 0 0;
  opacity: 0;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rc-select .rc-select-selection__choice-zoom-leave {
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.rc-select .rc-select-selection__choice-zoom-enter.rc-select-selection__choice-zoom-enter-active,
.rc-select .rc-select-selection__choice-zoom-appear.rc-select-selection__choice-zoom-appear-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomIn;
}
.rc-select .rc-select-selection__choice-zoom-leave.rc-select-selection__choice-zoom-leave-active {
  animation-play-state: running;
  animation-name: rcSelectChoiceZoomOut;
}
@keyframes rcSelectChoiceZoomIn {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rcSelectChoiceZoomOut {
  to {
    transform: scale(0);
    opacity: 0;
  }
}
.rc-select .rc-select-selection__choice__remove {
  color: #919191;
  cursor: pointer;
  font-weight: bold;
  padding: 0 4px 0 0;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  position: absolute;
  opacity: 0;
  -ms-transform: scale(0);
      transform: scale(0);
  top: 0;
  right: 2px;
  transition: opacity .3s, transform .3s;
}
.rc-select .rc-select-selection__choice__remove:before {
  content: "\e6b0";
}
.rc-select .rc-select-selection__choice__remove:hover {
  color: #333;
}
.rc-select-disabled {
  color: rgba(31, 56, 88, 0.3);
  cursor: not-allowed;
}
.rc-select-disabled .rc-select-selection {
  border-color: rgba(31, 56, 88, 0.2);
  background-color: rgba(31, 56, 88, 0.04);
}
.rc-select-disabled .rc-select-selection:hover,
.rc-select-disabled .rc-select-selection:active {
  border-color: rgba(31, 56, 88, 0.2);
}
.rc-select-disabled .rc-select-selection__choice {
  background-color: rgba(31, 56, 88, 0.06);
}
.rc-select-disabled .rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.2) transparent transparent transparent;
}
.rc-select-disabled .rc-select-selection--single,
.rc-select-disabled .rc-select-selection__choice__remove {
  cursor: not-allowed;
  color: rgba(31, 56, 88, 0.3);
}
.rc-select-disabled .rc-select-selection--single:hover,
.rc-select-disabled .rc-select-selection__choice__remove:hover,
.rc-select-disabled .rc-select-selection--single:active,
.rc-select-disabled .rc-select-selection__choice__remove:active {
  border-color: rgba(31, 56, 88, 0.2);
}
.rc-select-dropdown {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 4px 0 rgba(31, 56, 88, 0.15);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 1070;
  left: -9999px;
  top: -9999px;
  position: absolute;
  outline: none;
}
.rc-select-dropdown-hidden {
  display: none;
}
.rc-select-dropdown-menu {
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
}
.rc-select-dropdown-menu > li {
  margin: 0;
  padding: 0;
}
.rc-select-dropdown-menu-item-group-list {
  margin: 0;
  padding: 0;
}
.rc-select-dropdown-menu-item-group-list > li.rc-select-menu-item {
  padding-left: 20px;
}
.rc-select-dropdown-menu-item-group-title {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5;
  padding: 8px 10px;
  border-bottom: 1px solid #dedede;
}
.rc-select-dropdown-menu li.rc-select-dropdown-menu-item {
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 0;
  position: relative;
  display: block;
  padding: 7px 10px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rc-select-dropdown-menu li.rc-select-dropdown-menu-item-active {
  background-color: rgba(31, 56, 88, 0.04);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.rc-select-dropdown-menu li.rc-select-dropdown-menu-item-disabled {
  color: rgba(31, 56, 88, 0.3);
  cursor: not-allowed;
}
.rc-select-dropdown-menu li.rc-select-dropdown-menu-item-divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #e5e5e5;
  line-height: 0;
}
.rc-select-dropdown-menu li.rc-select-dropdown-menu-item-selected {
  color: #000000;
  background: rgba(31, 56, 88, 0.04);
  font-weight: bold;
}
.rc-select-dropdown-search {
  display: block;
  padding: 4px;
}
.rc-select-dropdown-search .rc-select-search__field__wrap {
  width: 100%;
}
.rc-select-dropdown-search .rc-select-search__field__placeholder {
  top: 4px;
}
.rc-select-dropdown-search .rc-select-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  outline: none;
}
.rc-select-dropdown-search.rc-select-search--hide {
  display: none;
}
.rc-select-open .rc-select-arrow b {
  border-color: rgba(31, 56, 88, 0.6) transparent transparent transparent;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.rc-select-selected-has-icon li.rc-select-dropdown-menu-item-selected {
  padding-right: 20px;
}
.rc-select-selected-has-icon li.rc-select-dropdown-menu-item-selected:before {
  content: "<";
  display: block;
  position: absolute;
  color: #f37327;
  right: 10px;
  top: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 32px;
}
.rc-select-inline .rc-select-selection {
  background: transparent;
  border-color: transparent;
}
.rc-select-inline .rc-select-selection:hover {
  border-color: transparent;
}
.rc-select-inline .rc-select-selection__rendered {
  display: inline-block;
  padding: 0 4px;
}
.rc-select-inline .rc-select-selection__placeholder {
  position: static;
}
.rc-select-inline .rc-select-selection-selected-value {
  padding-right: 0;
  position: static;
}