.tabtab__default__tab {
  list-style-type: none;
  display: inline-block;
  margin-right: 5px;
  border: 2px solid #e7e7e7;
  padding: 5px; }
  .tabtab__default__tab:hover {
    cursor: pointer; }
  .tabtab__default__tab.active {
    border-color: #2175bc;
    background-color: #2175bc;
    color: white; }

.tabtab__default__tab__wrapper {
  margin-bottom: 15px; }

.tabtab__default__panel.active {
  display: block; }
.tabtab__default__panel.inactive {
  display: none; }

.tabtab__folder__wrapper {
  position: relative; }

.tabtab__folder__tab {
  list-style-type: none;
  display: inline-block;
  color: black;
  padding: 5px 20px;
  background-color: #E6E6E6;
  color: #B6B6B6; }
  .tabtab__folder__tab:hover {
    cursor: pointer; }
  .tabtab__folder__tab.active {
    border-radius: 2px;
    color: black;
    background-color: #F1F1F1;
    border-top: 1px solid #b0b0af;
    border-right: 1px solid #b0b0af;
    border-left: 1px solid #b0b0af;
    margin-bottom: -2px; }

.tabtab__folder__tab.add {
  padding: 5px 8px;
  background-color: #F1F1F1;
  color: black; }
  .tabtab__folder__tab.add:hover {
    background-color: #ccc; }

.tabtab__folder__delete {
  position: absolute;
  top: -5px;
  right: -12px; }
  .tabtab__folder__delete:hover {
    cursor: pointer; }

.tabtab__folder__panel {
  padding: 10px; }
  .tabtab__folder__panel.active {
    display: block;
    background-color: #F1F1F1;
    border: 1px solid #b0b0af; }
  .tabtab__folder__panel.inactive {
    display: none; }

.tabtab__folder__circCont {
  display: inline-block; }

.tabtab__folder__circle {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid #9c9c9a;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: 7px;
  transition: background 50ms; }
  .tabtab__folder__circle:after {
    width: 10px;
    height: 2px;
    background-color: #9c9c9a;
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    position: absolute;
    transform: rotate(-45deg); }
  .tabtab__folder__circle:before {
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -1px;
    width: 10px;
    height: 2px;
    background-color: #9c9c9a;
    content: "";
    position: absolute;
    transform: rotate(45deg); }
  .tabtab__folder__circle:hover {
    background-color: #9c9c9a; }
    .tabtab__folder__circle:hover:after, .tabtab__folder__circle:hover:before {
      background-color: #F1F1F1; }
  .tabtab__folder__circle:focus {
    outline: none; }
    
.tabtab__modern__tab__wrapper {
  display: inline-block; }

.tabtab__modern__tab {
  list-style-type: none;
  background-color: #fff;
  border-color: #8D99AE;
  border-left-style: solid;
  border-top: solid;
  border-width: 2px;
  color: #eee;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  float: left;
  padding: 0.625rem 1.25rem;
  position: relative;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
  .tabtab__modern__tab:hover {
    cursor: pointer; }
  .tabtab__modern__tab::before, .tabtab__modern__tab::after {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
  .tabtab__modern__tab::before {
    background-color: #eee;
    left: -2px;
    right: -2px;
    top: -2px; }
  .tabtab__modern__tab::after {
    background-color: transparent;
    bottom: -2px;
    left: 0;
    right: 0; }
  .tabtab__modern__tab:last-of-type {
    border-right-style: solid; }
  .tabtab__modern__tab.active {
    position: relative;
    color: #2B2D42;
    z-index: 1; }
    .tabtab__modern__tab.active::before {
      background-color: #2B2D42; }
    .tabtab__modern__tab.active::after {
      background-color: #fff; }

.tabtab__modern__panel {
  background-color: #fff;
  border: 2px solid #8D99AE;
  padding: 1.25rem; }
  .tabtab__modern__panel.active {
    display: block; }
  .tabtab__modern__panel.inactive {
    display: none; }
.tabtab__side__wrapper {
  position: relative; }

.tabtab__clearfix {
  overflow: hidden;
  zoom: 1; }

.tabtab__side__tab__wrapper {
  float: left;
  display: inline-block; }

.tabtab__side__panel__wrapper {
  float: left;
  display: inline-block;
  margin-left: 30px; }

.tabtab__side__panel.active {
  display: block; }
.tabtab__side__panel.inactive {
  display: none; }

.tabtab__side__tab {
  list-style-type: none;
  color: black;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 2px;
  background-color: white;
  color: #4078c0; }
  .tabtab__side__tab:hover {
    cursor: pointer; }
  .tabtab__side__tab.active {
    color: white;
    background-color: #4078c0; }

.tabtab__side__tab.add {
  padding: 5px 8px;
  background-color: #4078c0;
  color: black; }
  .tabtab__side__tab.add:hover {
    background-color: #ccc; }

/**
  *
  *
  **/

.pb-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.pb-container .pb-button {
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 27px;
  color: currentColor;
  cursor: pointer;
  padding: 0.7em 1em;
  text-decoration: none;
  text-align: center;
  height: 54px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}
.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  font-size: 2em;
  font-weight: 100;
}
.pb-container .pb-button svg {
  height: 54px;
  width: 54px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
.pb-container .pb-button svg.pb-checkmark path,
.pb-container .pb-button svg.pb-cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
}
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  width: 54px;
  border-width: 6.5px;
  border-color: #ddd;
  cursor: wait;
  background-color: transparent;
  padding: 0;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
.pb-container.success .pb-button {
  border-color: #A0D468;
  background-color: #A0D468;
}
.pb-container.success .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.success .pb-button .pb-checkmark > path {
  opacity: 1;
}
.pb-container.error .pb-button {
  border-color: #ED5565;
  background-color: #ED5565;
}
.pb-container.error .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.error .pb-button .pb-cross > path {
  opacity: 1;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}
#button-success {
      width: 200px;
      margin: 100px auto;
    }
#button-error {
  width: 200px;
  margin: 100px auto;
}


.menu-container:before,
.menu-container:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

.menu-container.below {
  position: relative;
}

.menu-container.below .menu {
  width: 100%;
}

.menu-container.below .menu .menu-item {
  float: left;
  border: none;
}

.menu-container.below .sub-menu {
  position: absolute;
  top: 30px;
  border: 1px #eee solid;
  border-top: none;
}

.menu, .sub-menu {
  float: left;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px #eee solid;
}

.menu .menu-item,
.sub-menu .sub-menu-item {
  width: 100px;
  line-height: 30px;
  padding: 0 20px;
  border-top: 1px #eee solid;
  cursor: pointer;
  white-space: nowrap;
  font-size: 18px;
  font-family: monospace;
}

.menu .menu-item:first-child {
  border-top: none;
}

.menu .menu-item.active {
  color: #f40;
  border-right: 1px #fff solid;
  margin-right: -1px;
}

.sub-menu {
  border-left: none;
  min-height: 278px;
}

.sub-menu .sub-menu-item {
  width: 100%;
  border: none;
  font-size: 14px;
}

.sub-menu .sub-menu-item:hover {
  color: #f40;
}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print,
    #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
    .section-not-to-print {
        display: none;
    }
}

.PrintEBillPayPrint08{
  border:1px solid #cccccc;
  margin:0px 0px 0px 0px;
  height:"400";
  width:"595";
  fontFamily:"宋体";
  fontSize:"9";
}
.PrintEBillPayPrint08_jzrq{
  border:1px solid #cccccc;
  margin:35px 65px 0px 0px;
}
.PrintEBillPayPrint08_jzrq{
  border:1px solid #cccccc;
  margin:120px 20px 0px 0px;
}
.nav2 {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 550px;
  overflow: auto;
}
.right2 {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 550px;
  overflow: auto;
}
.row2 {
  margin-right: -15px;
  margin-left: -15px;
  min-height: 35px;
}